<a href="https://colab.research.google.com/github/imjyong/titanic-analysis/blob/main/notebooks/250313.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 패키지 import
import pandas as pd
import seaborn as sns

tt = sns.load_dataset('titanic')

In [2]:
type(tt) # 데이터 프레임

pandas.core.frame.DataFrame

In [3]:
type(tt['survived']) # 시리즈

pandas.core.series.Series

In [4]:
tt

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [5]:
# 데이터 프레임 = 2차원 구조, 행과 열로 데이터 구성
# 열 추출 시 [컬럼1], [[컬럼1, 컬럼2 ... 컬럼n]]
tt['survived']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: survived, Length: 891, dtype: int64

In [6]:
tt[['survived', 'pclass', 'sex', 'fare']]

     survived  pclass     sex     fare
0           0       3    male   7.2500
1           1       1  female  71.2833
2           1       3  female   7.9250
3           1       1  female  53.1000
4           0       3    male   8.0500
..        ...     ...     ...      ...
886         0       2    male  13.0000
887         1       1  female  30.0000
888         0       3  female  23.4500
889         1       1    male  30.0000
890         0       3    male   7.7500

[891 rows x 4 columns]

In [7]:
sum(tt['survived'])

342

In [8]:
min(tt['survived'])

0

## **판다스 기초문법**

- head(), tail()
  - head(10)
  - tail(10)
- shape
  - 행과 열 추출
- info()
  - 전반적인 데이터프레임의 정보 획득
- describe()
  - 기초통계치 확인
- dtypes
  - 데이터 타입 확인
- columns
  - 필요한 컬럼 추출

In [11]:
display(tt.info())
display(tt.describe())
display(tt.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

None

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [12]:
tt.dtypes

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

In [13]:
# all 수치, 범주 데이터 전체 출력
display(tt.describe(include='all'))
display(tt.describe(include='number'))
display(tt.describe(include=['category', 'bool']))

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
count,891.000000,891.000000,891,714.000000,891.000000,891.000000,891.000000,889,891,891,891,203,889,891,891
unique,NaN,NaN,2,NaN,NaN,NaN,NaN,3,3,3,2,7,3,2,2
top,NaN,NaN,male,NaN,NaN,NaN,NaN,S,Third,man,True,C,Southampton,no,True
freq,NaN,NaN,577,NaN,NaN,NaN,NaN,644,491,537,537,59,644,549,537
mean,0.383838,2.308642,NaN,29.699118,0.523008,0.381594,32.204208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.486592,0.836071,NaN,14.526497,1.102743,0.806057,49.693429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,1.000000,NaN,0.420000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,0.000000,2.000000,NaN,20.125000,0.000000,0.000000,7.910400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,0.000000,3.000000,NaN,28.000000,0.000000,0.000000,14.454200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.000000,3.000000,NaN,38.000000,1.000000,0.000000,31.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.000000,3.000000,NaN,80.000000,8.000000,6.000000,512.329200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

        class adult_male deck alone
count     891        891  203   891
unique      3          2    7     2
top     Third       True    C  True
freq      491        537   59   537

## **데이터프레임 기초통계 문법**

- describe()
- mean
- median
- mode 최빈값
- std 표준편차
- var 분산
- min
- max
- count
- sum
- quantitle 분위 수
- cor 상관계수
- cov 공분산
- skew 왜도, 분포의 비대칭적인 정도 측정
- kurt 첨도, 분포가 얼마나 뾰족한지 나타내는 것
- sem 표준오차
- cumsum 누적합계, 곱
- diff 차이 계산
- 인덱싱
  - 최댓값 인덱싱
  - 최솟값 인덱싱

In [ ]:
# 필요한 수치형 데이터 타입만 추출해보자
# select_types(include='number')
df_num=tt.select_dtypes(include='number')

In [14]:
print('요약통계', df_num.describe())
print('평균', df_num.mean())
print('사분위', df_num.quantile([0.25, 0.5, 0.75]))
print('유니크한 값', df_num.nunique())
print('인덱스 기준 max', df_num.idxmax())

NameError: name 'df_num' is not defined

## **Numpy 이해**

- array 연산을 많이 하므로 array 를 조금 더 이해하자

In [16]:
import numpy as np

np_new = np.array([1, 2, 3, 123, 1, 41, 2, 34, 4, 5])

In [17]:
# np.기초통계치
np.mean(np_new)

np.float64(21.6)

In [18]:
np.max(np_new)

np.int64(123)

In [19]:
np.percentile(np_new, 50)

np.float64(3.5)

In [21]:
tt['fare'].mean()

np.float64(32.204207968574636)

In [ ]:
np.mean(np.array(tt['fare']))

In [ ]:
np.array(tt['fare'])

## **데이터 분석 기초문법**

- loc[], iloc[] 로케이션, 인덱스 위치
  - loc - location (인덱스), 처음 생성된 데이터프레임의 인덱스
  - iloc - Integer location (넘버링된 인덱스), 현재 기준의 데이터프레임 순서, 데이터프레임을 재구조화 하면 그 기준으로 넘버링
  - loc[인덱스]
  - iloc[인덱스]
  - 안되는 조건
    - loc[행, 열], iloc[행, 열]
    - loc[:,:], iloc[:,:]
    - loc, 명시적으로 컬럼을 적어야 한다
    - iloc, 숫자로만 컬럼을 적어야 한다
- query()
- df[df[불린]]
- sort_values()
- 파생변수 - 판다스 문법, assign, lambda
- groupby
- merge, concat
- str
- 기타 stats 패키지 함수

In [22]:
tt.loc[5:15, 'survived']

5     0
6     0
7     0
8     1
9     1
10    1
11    1
12    0
13    0
14    0
15    1
Name: survived, dtype: int64

In [23]:
tt.loc[5:15, ['survived', 'pclass']]

    survived  pclass
5          0       3
6          0       1
7          0       3
8          1       3
9          1       2
10         1       3
11         1       1
12         0       3
13         0       3
14         0       3
15         1       2

In [25]:
# tt.iloc[5:15, 'survived']
tt.iloc[5:15, 0:1]

    survived
5          0
6          0
7          0
8          1
9          1
10         1
11         1
12         0
13         0
14         0

In [26]:
# 인덱스 번호 0~100 A집단, 101~200 B집단
# A집단의 평균 나이와 B집단 평균 나이 분석해보자
seg_a_avg=tt.loc[0:100, 'age'].mean()
seg_b_avg=tt.loc[101:200, 'age'].mean()

In [27]:
seg_a_avg

np.float64(27.47253164556962)

In [29]:
seg_b_avg

np.float64(28.549382716049383)

- query 문법
  - query(조건)
  - query('변수 연산자 조건')
    - 주의할 점은 문자열은 "'조건연산자 '문자열'"

In [30]:
# pclass 3번과 pclass 1번 고객들의 남성, 여성 각각 fare 평균을 나눠서 구하여라
pc3_male=tt[['pclass', 'fare', 'sex']].query("pclass==3 & sex=='male'")['fare'].mean()

In [31]:
pc3_male

np.float64(12.661632564841499)

In [36]:
tt[['pclass', 'fare', 'sex']].query("pclass==1 & sex=='male'")['fare'].mean()

np.float64(67.22612704918032)

In [34]:
tt[['pclass', 'fare', 'sex']].query("pclass==3 & sex=='female'")['fare'].mean()

np.float64(16.118809722222224)

In [35]:
tt[['pclass', 'fare', 'sex']].query("pclass==1 & sex=='female'")['fare'].mean()

np.float64(106.12579787234043)

- df[df 비교연산자 불린]
  - 안에 들어가는 불린 값이 참인 조건의 데이터만 추출
- 다중조건
  - df[(df 조건 1) & (df 조건 2)]

In [37]:
tt

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [38]:
# 20대 이상, pclass==3 인 경우를 구해보자
# tt[(tt['age']>20)] & (tt['pclass]==3)][['fare', 'sex', 'pclass']].loc[0:100]['fare'].mean()
tt[(tt['age']>20) & (tt['pclass']==3)][['fare', 'sex', 'pclass']].loc[0:100]['fare']

0       7.2500
2       7.9250
4       8.0500
8      11.1333
13     31.2750
18     18.0000
25     31.3875
37      8.0500
40      9.4750
51      7.8000
57      7.2292
60      7.2292
69      8.6625
73     14.4542
74     56.4958
75      7.6500
79     12.4750
80      9.0000
81      9.5000
85     15.8500
89      8.0500
90      8.0500
93     20.5750
94      7.2500
100     7.8958
Name: fare, dtype: float64

In [40]:
# loc, iloc 값 차이 남
# tt[(tt['age']>20)] & (tt['pclass]==3)][['fare', 'sex', 'pclass']].iloc[0:100]['fare'].mean()
tt[(tt['age']>20) & (tt['pclass']==3)][['fare', 'sex', 'pclass']].iloc[0:100]['fare']

0       7.2500
2       7.9250
4       8.0500
8      11.1333
13     31.2750
        ...
360    27.9000
362    14.4542
363     7.0500
365     7.2500
376     7.2500
Name: fare, Length: 100, dtype: float64

In [39]:
tt[(tt['age']>20) & (tt['pclass']==3)][['fare', 'sex', 'pclass']]

        fare     sex  pclass
0     7.2500    male       3
2     7.9250  female       3
4     8.0500    male       3
8    11.1333  female       3
13   31.2750    male       3
..       ...     ...     ...
881   7.8958    male       3
882  10.5167  female       3
884   7.0500    male       3
885  29.1250  female       3
890   7.7500    male       3

[232 rows x 3 columns]

- sort_values()
  - 내림차순, 오름차순
  - 디폴트는 오름차순

In [41]:
tt['fare'].sort_values()

815      0.0000
806      0.0000
413      0.0000
481      0.0000
302      0.0000
         ...
438    263.0000
341    263.0000
737    512.3292
679    512.3292
258    512.3292
Name: fare, Length: 891, dtype: float64

In [42]:
# 내림차순
tt['fare'].sort_values(ascending=False)

679    512.3292
258    512.3292
737    512.3292
88     263.0000
438    263.0000
         ...
806      0.0000
815      0.0000
466      0.0000
481      0.0000
822      0.0000
Name: fare, Length: 891, dtype: float64

In [43]:
# 데이터프레임 기준 필요
tt[['fare', 'age']].sort_values(by='fare', ascending=False)

         fare   age
679  512.3292  36.0
258  512.3292  35.0
737  512.3292  35.0
88   263.0000  23.0
438  263.0000  64.0
..        ...   ...
806    0.0000  39.0
815    0.0000   NaN
466    0.0000   NaN
481    0.0000   NaN
822    0.0000  38.0

[891 rows x 2 columns]

In [44]:
# 2개 기준 정렬
tt[['fare', 'age']].sort_values(by=['fare', 'age'], ascending=[False, False])

         fare   age
679  512.3292  36.0
258  512.3292  35.0
737  512.3292  35.0
438  263.0000  64.0
341  263.0000  24.0
..        ...   ...
481    0.0000   NaN
633    0.0000   NaN
674    0.0000   NaN
732    0.0000   NaN
815    0.0000   NaN

[891 rows x 2 columns]

In [46]:
tt[['fare', 'age']].sort_values(by=['fare', 'age'], ascending=[False, True])

         fare   age
258  512.3292  35.0
737  512.3292  35.0
679  512.3292  36.0
27   263.0000  19.0
88   263.0000  23.0
..        ...   ...
481    0.0000   NaN
633    0.0000   NaN
674    0.0000   NaN
732    0.0000   NaN
815    0.0000   NaN

[891 rows x 2 columns]